.contener_contatos{
    display: flex;
}

.cx_contato{
    position: relative;
    margin: 0;
}

.cx_conforto{
    position: relative;
    margin: 0;
}

.conteudo_contato{
    background-color:#0D0D0D;
    position: absolute;
    top: 25vh;
    left: 5vw;
    padding: 10px 10px;
}

.conteudo_conforto{
    background-color: #0D0D0D;
    position: absolute;
    top: 25vh;
    left: 5vw;
    right: 5vw;
    padding: 10px 10px;
}

.titulo_contato{
    color: #F2A25C;
}
.p_contato{
    color: #F2A25C;
    margin-bottom: 6px;
}
.p_conforto{
    color: #F2A25C;
}

.img_contato{
    height: 500px;
    width: 700px;
    filter: grayscale(1);
}
.img_conforto{
    height: 500px;
    width: 666px;
    filter: grayscale(1);
}

@media only screen and (max-width: 480px){
    .contener_contatos{
        flex-direction: column;
    }

    .img_conforto{
        height: 400px;
        width: 480px;
    }

    .img_contato{
        width: 480px;
        height: 400px;
    }   

    .conteudo_conforto{
        top:12vh;
    }

    .conteudo_contato{
        top: 12vh;
        right: 5vw;
    }
}