
.contener_banner{
    display: flex;
    align-items: center;
    background-color: #262626;
}

.titulo_barber{
    color: #F2A25C;
    font-size: 3rem;
    margin-left: 100px;
    margin-top: 50px;
   
}

.subtitulo_barber{
    color: #F2A25C;
    margin-left: 100px;
    margin-right: 70px;
    font-size: 16px;
    margin-top: 30px;
   
}

.banner{
    width: 500px;
    margin-right: 100px;
    box-shadow: 10px 10px 10px #0D0D0D;
}

.link{
    margin-left: 100px;
    color: white;
}


.logo{
    font-weight: 600;
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
}

.slidnav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.slidnav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F2A25C;
    display: block;
    transition: 0.3s;
}
.slidnav a:hover {
    color: #262626;
}

.slidnav .fechabtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#burg{
    transition: margin-left .5s;
    cursor:pointer;
    
}

@media only screen and (max-width: 480px){
    .banner{
        display: none;
    }

    .menu{
        padding-left: 30px;
    }
}