.contener_sobre{
    display: flex;
    align-items: center;
}

.conteudos{
    padding:133px;
    background-color: #0D0D0D;
    color: #F2A25C;
}

.img_sobre{
    width: 601px;
}

@media only screen and (max-width: 480px){
    .contener_sobre{
        flex-direction: column;
    }

    .conteudos{
        padding: 10px;
    }


    .titulo_sobre{
        text-align: center;
    }
}
