@media only screen and (max-width: 600px) {
   /*banner*/
   .contener_banner{
       position: relative;
       margin: auto;
   }

   .titulo_bv{
       position: absolute;
       bottom: 18vh;
       right: 26vW;
       color: black;
       font-size: 2rem;
       font-weight: 500;
   }

   .titulo_barber{
        position: absolute;
        bottom: 12vh;
        left: 18vw;
        color: black;
        font-size: 2rem;
        font-weight: 600;
   }

   .banner{
       filter: sepia(.2) opacity(.8) grayscale(.3);
   }
 
   /*horario*/
    .contener_horario{
        background-color: #222222;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .text-center{
        margin-bottom: 30px;
    }
   
    .cx-lista{
       background: #070707;
       border: 1px solid black;
       border-radius: 4px;
       margin-left: 10px;
       margin-right: 10px;
       padding-top: 10px;
   }
   
    .op-cl{
        display: flex;
        justify-content:space-between;
        margin-left: 140px;
        margin-right: 50px;
    }
    .op{
        color: white;
    }
    .cl{
        color: white;
    }

    .lista{
        display: flex;
        justify-content: space-around;
        margin-right: 30px;
    }

    .cont_li{
        color: white;
        font-weight: 700;
        margin-bottom: 5px;
    }

    
    /*sobre*/
    .img_sobre{
        filter:grayscale(1) opacity(.9);
    }

    .contener_sobre{
        position: relative;
        margin: 0;
    }

    .titulo_sobre{
        position: absolute;
        bottom: 23vh;
        left: 8vw;
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .conteudo_sobre{
        position: absolute;
        bottom: 5vh;
        left: 10vw;
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }

    /*preço*/

    .preço{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
}