/* Color Theme Swatches in Hex */
.HSU’S-PROMISE-1-hex { color: #F2A25C; }
.HSU’S-PROMISE-2-hex { color: #A6633C; }
.HSU’S-PROMISE-3-hex { color: #73412F; }
.HSU’S-PROMISE-4-hex { color: #262626; }
.HSU’S-PROMISE-5-hex { color: #0D0D0D; }

.rodape{
    background-color: #070707;
    padding-bottom: 2px;
}
.rodape_conteudo{
    text-align: center;
    color: aliceblue;
    font-size: 14px;
    padding-top: 10px;
}

.cx_menu_inferior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #0D0D0D ;
    color: #F2A25C;
}

.lista_menu{
    margin-right: 64px;
}

.total_lista{
    display: flex;
}

@media only screen and (max-width: 480px) {

    .cx_menu_inferior{
        display: flex;
        flex-direction: column;
    }
   
    .total_lista{
        font-size: 16px;
    }
}