header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #3c3b3f, #605c3c);
}

ul{
    display:flex;
    color: aliceblue;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

.bg_linear{
    background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.banner{
    background-image: url("./img/young-man-at-barbershop-trimming-hair.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosso_trabalho{
    background: linear-gradient(to right, #ffefba, #ffffff);
}

.caixa{
    position: relative;
    margin: 0 auto;
}

.caixa .contato{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.678);
    color: white;
    width: 100%;
    padding: 20px;
}

.conforto{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.712);
    color: white;
    width: 100%;
    padding: 20px;
}

.dados{
   border: solid red 1px;
}

.total_lista{
    display: flex;
}

.lista_menu{
    margin-right: 70px;
}

footer{
    background-image: linear-gradient(to right, #3c3b3f, #605c3c);
}
